// colors Config
:root {
  --color-userLogged: #ffffff;
  --color-userNotLogged: #484848;
  --color-userInformation: #b7b7b7;
  --color-chatAnnouncement: #6f6f6f;
  --bg-userLogged: #16498a;
  --bg-userNotLogged: #edf0f3;
  --bg-chatContent: #f9f9f9;
  --bg-chatAnnouncement: #ffffff;
  --bg-chatStyle: #ffffff;
}
// main chat
$chat-background: var(--bg-chatContent);
$chatStyle-background: var(--bg-chatStyle);

// anuncio bubble
$chatAnnouncement-color: var(--color-chatAnnouncement);
$chatAnnouncement-background: var(--bg-chatAnnouncement);

// bubble userMessage not logged
$userMessage-color: var(--color-userNotLogged);
$userMessage-background: var(--bg-userNotLogged);

// bubble userMessage logged
$userMessage-color--logged: var(--color-userLogged);
$userMessage-background--logged: var(--bg-userLogged);

// userMessage info
$userMessage-color--information: var(--color-userInformation);


// body config
$font-family: 'Open Sans', sans-serif;
$background-color: #fff;
$background-color--dark: #000;